<main class="content" role="main">
  <!--<h1>HTTP</h1>

  <p>HTTP merupakan singkatan dari Hypertext Transfer Protocol adalah protokol yang digunakan
untuk berkomunikasi antara clients dan server . HTTP bersifat stateless, artinya antar state
atau aktifitas yang satu dengan yang lain bersifat independen (tidak terhubung). Setiap transaksi/aktifitas
yang dilakukan dianggap sebagai transaksi/aktifitas yang benar-benar baru, tidak ada data sebelumnya
yang disimpan untuk transkasi/aktifitas saat ini.</p>

  <p>Beberapa konsep atau pengetahuan dasar mengenai HTTP, antara lain :
    Client/Server: Interaksi dilakukan antar client/server.
    Client melakukan request dan server memberikan response
    Stateless: Setiap aktifitas (request/response) bersifat independen
    Application Layer : Website berjalan pada application layer. Proses request/response terjadi
    pada Transport Layer yang umumnya menggunakan protokol TCP, yang menentukan bagaimana data akan dikirim,
    Application Layer tidak peduli apa yang dilakukan Transport Layer (bagaimana data dikirim, diolah, dsb), App layer hanya fokus pada request dan
    response.

    Client Actions Method: Merupakan method yang digunakan oleh client saat melakukan request.
    Contoh: GET, POST, PUT, DELETE, dll.

    Server status code: Merupakan status kode yang diberikan oleh server saat meminta suatu halaman web
    Contoh: 200 (OK), 404 (Page not found), 500 (Internal Server Error), dsb.

    Headers: Merupakan informasi kecil yang dikirim bersamaan dengan request dan response.
    Informasi-informasi tersebut berguna sebagai data tambahan yang digunakan untuk memproses request/response.
    Contoh: Pada Headers terdapat content-type:json. Artinya tipe konten yang diminta/dikirim adalah json.
    Headers juga menyimpan data cookies.</p>

  <h2>Cookies & Session</h2>
  <p>Salah satu cara yang paling banyak digunakan untuk melakukan holding state adalah dengan menggunakan
    session ID yang disimpan sebagai cookie pada komputer klien. Session ID dapat dianggap sebagai suatu token
    (barisan karakter) untuk mengenali session yang unik pada aplikasi web tertentu.
    Daripada menyimpan semua jenis informasi sebagai cookies pada klien seperti username, nama dan password,
    hanya Session ID yang disimpan. Session ID ini kemudian dapat dipetakan ke suatu
    struktur data pada sisi web server. Pada struktur data tersebut, kamu dapat menyimpan semua informasi yang kamu butuhkan.
    Pendekatan ini jauh lebih aman untuk menyimpan informasi mengenai pengguna, daripada menyimpannya pada cookie.
    Dengan cara ini, informasi tidak dapat disalah gunakan oleh klien atau koneksi yang mencurigakan.
    Selain itu, pendekatan ini lebih 'tepat' jika data yang akan disimpan ada banyak. Hal itu karena cookie hanya dapat
    menyimpan maksimal 4kb data.
    Bayangkan kamu sudah login ke suatu web / aplikasi dan mendapat session ID (session identifier).
    Untuk dapat melakukan holding state pada HTTP yang stateless , browser biasanya mengirimkan
    suatu session ID  ke server pada setiap request. Dengan begitu, setiap kali datang suatu request ,
    maka server akan bereaksi (kurang lebih) "Oh, Orang ini!" . Kemudian server akan mencari informasi state di
    memori server atau di database  berdasarkan session ID yang didapat, dan mengembalikan data yang diminta.</p>
</main>-->

<footer class="fixed_footer">
  <div class="content">
    <p>Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy Made with ♥ by aphy </p>
  </div>
</footer>
