.main-movie-detail {
    margin-bottom: 20px;
}
.movie-title, .movie-detail{
    color: white;
}
.movie-detail hr {
    margin-top: 2px;
}
.movie-detail h4:first-child {
    margin-top: 0;
}
.movie-detail h4 {
    margin-top: 20px;
}
.movie-detail .box {
    margin-top: 20px;
}
.main-watch-later {
    margin-top: 20px;
}
/*styling source https://www.w3schools.com/css/css_align.asp*/
.movie-poster img {
    display: block;
    margin: auto 50px auto auto;
}

/*styling source: http://webredox.net/demo/wp/movieme/light/*/
td {
    padding: 0 10px 2px 0;
}
/*styling source: https://ganool.se/*/
img.homethumb{
	width: 100% !important;
    height: auto !important;
    min-height: 100% !important;
    background-position: 50% 25%;
    background-size: cover;
}
.watch-later-list .movimgbox {
    height: 230px;
    background: rgba(26,26,26,1);

    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.watch-later-list .movimgbox .ml-mask:after, .watch-later-list .movimgbox .ml-mask:before {
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    z-index: 4;
}
.watch-later-list .movimgbox .ml-mask:before {
    content: "";
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.watch-later-list .movimgbox .ml-mask:hover img{
    opacity: 0.4!important;
}
.watch-later-list .movimgbox .mli-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    color: white;
    text-align: center;
    background: url(https://ganool.se/wp-content/themes/newganool/images/mask-title.png) top repeat-x;
    z-index: 5;
}
.watch-later-list .movimgbox .ml-mask:after {
    content: "";
    width: 100px;
    height: 65px;
    background-image: rgba(0,0,0,0.6);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -50px;
}
.watch-later-list .movimgbox .ml-mask:hover:after {
    opacity:1 !important;
}
@media only screen and (max-width: 768px) {
    .movie-poster {
        margin-bottom: 30px;
    }
    .movie-detail .box {
        text-align: center;
    }
}
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,900);

*, *:before, *:after{
  box-sizing: border-box;
  font: 300 1em/1.5 'Merriweather', serif; color: #242424;
  padding: 0; margin: 0;
}

html, body{background: rgb(236, 240, 241);}

.content{
  width: 850px;
  margin: auto;
  margin-bottom: 350px; /* Same height as footer */
  padding: 100px 0;
  min-height: 1250px;
  line-height: 1.5em;
}
  h1{
    color: #111;
    font-size: 3em;
    font-weight: 900;
    line-height: 2em;
    padding: 0 0 20px 0;
  }
  h2{
    color: #111;
    font-size: 2em;
    font-weight: 900;
    padding: 0 0 15px 0;
  }
  p{
    font-size: 1.25em;
    padding: 0 0 40px 0;
  }

.fixed_footer{
  width: 100%;
  height: 350px;
  background: #111;
  position: fixed; left: 0; bottom: 0;
  z-index: -100;
}
   .fixed_footer p{
    color: #696969;
    column-count: 2;
    column-gap: 50px;
    font-size: 1em;
    font-weight: 300;
  }
  #main {
  	  background-color: #000000;
  	  position: relative;
  	  z-index: 1001;
      color: white;
  	}
    ul.nav {
      padding-left: 0;
    }
  	ul.nav {
  	  width: 650px;
  	  margin: 0 auto;
  	  overflow: hidden;
  	}
  	ul.nav li {
  	  float: left;
  	  list-style: none;
  	  margin: .5em .5em .5em 0;
  	  padding: .5em .5em .5em 0;
  	  font-size: 1.5em;
  	}
  	ul.nav li a {
  	  text-decoration: none;
  	  color: #ccc;
  	}
  	ul.nav li a:hover {
  	  color: #E0461B;
  	  transition: color 400ms ease-out;
  	}
    code {
  background-color: #ddd;
}
.contentWrap {
  padding: 2em;
}
