{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 30%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 75px;
        font-family: "Futura";
        font-style: oblique;
        font-weight: bold;
        color: #ffffff;
    }
    .bottom_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 40%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 70px;
        font-family: "Futura";
        font-style: oblique;
        font-weight: bold;
        color: #ffffff;
    }
</style>

<div class="center_screen">
<h3 style="text-align: center",>Hi all, This is my complete biodata</h3>
</div>
<div class="bottom_screen">
<table align="center" style="text-align: left">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
</div>
<br><br>
{% endblock %}
