@import url(https://fonts.googleapis.com/css?family=Merriweather:300,900);

*, *:before, *:after{
  box-sizing: border-box;
  font: 300 1em/1.5 'Merriweather', serif; color: #242424;
  padding: 0; margin: 0;
}

html, body{background: rgb(236, 240, 241);}

.content{
  width: 850px;
  margin: auto;
  margin-bottom: 350px; /* Same height as footer */
  padding: 100px 0;
  min-height: 1250px;
  line-height: 1.5em;
}
  h1{
    color: #111;
    font-size: 3em;
    font-weight: 900;
    line-height: 2em;
    padding: 0 0 20px 0;
  }
  h2{
    color: #111;
    font-size: 2em;
    font-weight: 900;
    padding: 0 0 15px 0;
  }
  p{
    font-size: 1.25em;
    padding: 0 0 40px 0;
  }

.fixed_footer{
  width: 100%;
  height: 350px;
  background: #111;
  position: fixed; left: 0; bottom: 0;
  z-index: -100;
}
   .fixed_footer p{
    color: #696969;
    column-count: 2;
    column-gap: 50px;
    font-size: 1em;
    font-weight: 300;
  }
  #main {
  	  background-color: #000000;
  	  position: relative;
  	  z-index: 1001;
      color: white;
  	}
    ul.nav {
      padding-left: 0;
    }
  	ul.nav {
  	  width: 650px;
  	  margin: 0 auto;
  	  overflow: hidden;
  	}
  	ul.nav li {
  	  float: left;
  	  list-style: none;
  	  margin: .5em .5em .5em 0;
  	  padding: .5em .5em .5em 0;
  	  font-size: 1.5em;
  	}
  	ul.nav li a {
  	  text-decoration: none;
  	  color: #ccc;
  	}
  	ul.nav li a:hover {
  	  color: #E0461B;
  	  transition: color 400ms ease-out;
  	}
    code {
  background-color: #ddd;
}
.contentWrap {
  padding: 2em;
}
