<!DOCTYPE html>
{% extends "lab_4/layout/base.html" %}

{% block content %}
<!--<h1>Portofolio</h1>-->
<img src="http://designassembly.org.nz/wordpress/wp-content/uploads/2016/09/Portfolio_Logo_black__2016-02-01.png"style="width:1000px;height:250px;">
<hr/>
<section name="bio">
  <font size="200">Bio!</font>
    <!--<h2>Bio</h2>-->
    <p>
        <font-size="5">{{content}}<font>
    </p>
</section>

<section name="about_me">
    <h2>List</h2>
    <img style="float:left; margin-right:-70px; padding-right:0px;" src="https://maxcdn.icons8.com/Share/icon/nolan/User_Interface//list1600.png"style="width:20px;height:250px;">
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <img class="img-circle" src="http://www2.uol.com.br/guiadolitoral/imgnoticia/conheca-a-historia-por-tras-da-iconica-foto-de-einstein-mostrando-a-lingua-4030-f1.jpg" style="width:150px;height:150px;" border-radius=50%>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
