<header>
  <div id="main" class="duplicate" style="font-color:white;">
    <ul class="nav">
      <li>
        <a href="javascript://" title="Home">
          <span class="icon-stack">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-home icon-light"></i>
          </span>
          <span class="text">Home</span>
        </a>
      </li>
      <li>
        <a href="javascript://" title="About">
          <span class="icon-stack">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-leaf icon-light"></i>
          </span>
          <span class="text">About</span>
        </a>
      </li>
      <li>
        <a href="javascript://" title="Contact">
          <span class="icon-stack">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-phone icon-light"></i>
          </span>
          <span class="text">Contact</span>
        </a>
      </li>
    </ul>
  </div>
  <div id="stickyContent"></div>
</header>

<div class="contentWrap">

</div>
