{% extends "base.html" %}
{% block content %}
<style>
    .upper_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 20%;
        left: 30%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 10px;
        font-family: "Futura";
        font-style: oblique;
        font-weight: bold;
        color: #ffffff;
    }
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 40%;
        left: 60%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 40px;
        font-family: "Futura";
        font-style: oblique;
        font-weight: bold;
        color: #ffffff;
    }
    .bottom_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 40%;
        left: 30%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 20px;
        font-family: "Futura";
        font-style: oblique;
        font-weight: bold;
        color: #ffffff;
    }
</style>
<div class="upper_screen">
<h3 style="text-align: center",>Add something here:</h3>
</div>
<br><br>
<div class="row">
    <div class="bottom_screen">
        <table align="center" style="text-align: center">
            <tr>
                <th>Tanggal</th>
                <th>Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="center_screen">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Tanggal
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Kegiatan
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
