{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 30%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 50px;
        font-family: "Futura";
        font-style: oblique;
        font-weight: bold;
        color: #ffffff;
    }
    .anotherstyle {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 10%;
        left: 5%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 50px;
        font-family: "Wingdings";
        color: #ffffff;
    }
    .anotherstyle1 {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 10%;
        right: 1%;
        margin-right: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 50px;
        font-family: "Wingdings";
        color: #ffffff;
    }
</style>
<div class="anotherstyle", align="right">
    <p class="status" id="test">Hello,{{name}}{{content}}.</p>
</div>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
<div class="anotherstyle1">
    <p class="status" id="test">Hello,thisis{{name}}.{{content}}.</p>
</div>
{% endblock %}
