<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>


</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>Im {{ year }} years old</article>
    <h3> {{ hasil }} </h3>
</body>
</html>
