{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 5">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_6.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.4.1.css">
    <title>
        {% block title %} Lab 8 By {{author}} {% endblock %}
    </title>
</head>
<body>
<header>
    {% include "lab_8/partials/header.html" %}
</header>
<content>
    <div id="qunit" hidden></div>
    <!-- Themes -->
    <!-- Calculator Section -->
    <div id="status"></div>
	<button onclick="getInfo()">Get Info</button>
	<button onclick="login()" id="login">Login</button
    <section name="Calculator" class="calculator">
        <div class="container">
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true"></div>
        </div>
    </section>
    <div class="container">
    <select style="width: 200px;" class="my-select"></select>
    <br/><button class="btn apply-button">Change Theme</button>
    </div>
    {% block content %}
    {% endblock %}

<footer>
    <!-- TODO Block Footer dan include footer.html -->
    {% block footer %}
    {% include "lab_8/partials/footer.html" %}
    {% endblock %}
</footer>
<!-- Jquery n Bootstrap Script -->
<div id="fb-root"></div>
class="postStatus button-error pure-button"
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=512529212448342';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="{% static 'js/lab_6.js' %}"></script>
<script src="{% static 'js/test.js' %}"></script>
<script src="https://code.jquery.com/qunit/qunit-2.4.1.js"></script>
</body>
