<div class="header">
  <div class="sides">
    <a href="#" class="logo">HOME</a>
  </div>
  <div class="sides"> <a href="#" class="menu">-</a></div>
  <div class="info">
  <h4><a href="#category"></a></h4>
    <h1> </h1>
    <div class="meta">
      <a></a><br>
    </div>
  </div>
</div>
